<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>

<body>

<h1>Cities</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Namn</th>
        <th>Befolkning</th>
    </tr>

    <tr th:each="city : ${cities}">
        <td th:text="${city.id}"></td>
        <td th:text="${city.name}"></td>
        <td th:text="${city.population}"></td>
    </tr>
</table>

</body>
</html>
