<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lärare</title>
</head>
<body>

<h1>Lista över lärare</h1>

<ul>
    <li th:each="teacher : ${teachers}">
        <strong>Förnamn:</strong>
        <span th:text="${teacher.firstName}"></span><br>

        <strong>Efternamn:</strong>
        <span th:text="${teacher.lastName}"></span><br>

        <strong>Ämne:</strong>
        <span th:text="${teacher.subject}"></span>
    </li>
</ul>

</body>
</html>
